<!DOCTYPE html>
<html lang="pt-br" ng-app="raspboardpyApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href="../static/css/main.css" rel="stylesheet" type="text/css" /> 

    <!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    <!-- <link rel="shortcut icon" href="{[{ url_for('static', filename='ico/favicon.ico') }]}"> -->
    {% block head %}
      <title>{% block title %} RaspboardPy{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div ng-controller="dashboardController">
  <BR>
    <div class="col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-heading"><i class="glyphicon glyphicon-scale"></i>&nbsp; DashBoard</div>
        <div class="panel-body">
          <div ng-if="haserror" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"
              aria-hidden="true"></span> <span class="sr-only">Ocorreu
              um erro:</span> {[{haserror}]}
          </div>
          <div ng-if="hassuccess" class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"
              aria-hidden="true"></span> <span class="sr-only">{[{hassuccess}]}</span>
          </div>
          <div class="form-group col-sm-2">
            <div ng-repeat="(key,tipo) in tipos" class="form-group">
                  <fieldset>
                      <legend class="small">{[{key|uppercase}]} - {[{tipos[key].variavel}]}</legend>
                   <div > <!-- ng-if="tipo.checked" -->
                      <form class="form">
                            <div class="form-group">
                                <div ng-if="tipos[key].data">
                                <label > Data:</label>
                                <input type="text" class="form-control input-sm" ng-model="tipos[key].data" 
                                placeholder="{[{tipos[key].data}]}">
                                </div>
                                <div ng-if="tipos[key].echo">
                                <label > Echo:</label>
                                <input type="text" class="form-control input-sm" ng-model="tipos[key].echo" 
                                placeholder="{[{tipos[key].echo}]}">
                                </div>
                                <div ng-if="tipos[key].trigger">
                                <label > Trigger:</label>
                                <input type="text" class="form-control input-sm" ng-model="tipos[key].trigger" 
                                placeholder="{[{tipos[key].trigger}]}">
                                </div>
                          </div>
                            <div ng-click="addSensor(key,tipos[key])" style="float:right;" class="btn btn-primary btn-xs">
                            <i class="glyphicon glyphicon-plus"></i>
                            </div>
                      </form>
                    </div>
            
                    </fieldset> 
            </div>
          </div>
          <div class="form-group col-sm-10">
             <div class="col-sm-6" ng-repeat="(k, value) in sensores" >
                <label >Sensor #{[{k}]}</label>
                <chart value="value"></chart>
                <div type="button" class="btn btn-xs btn-danger" ng-click="stop(k)">
                  <i class="glyphicon glyphicon-stop"></i> Parar
                </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>


    <script src="../static/lib/jquery.min.js"></script>
    <script src="../static/lib/angular.min.js"></script>
    <script src="../static/lib/highcharts.js"></script>
    <script src="../static/js/main.js"></script>
  </body>
</html>